<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UDB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Content/img/logo-udb-claro.jpg" width="100" height="100" alt="">
            </a>
            @if (Session["usuario"] == null) {
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (Session["usuario"] == null) {
                        <li>@Html.ActionLink("Facultades Y Carreras", "Facultades", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    } else {
                        <li>@Html.ActionLink("Bienvenido: " + Session["usuario"].ToString(), "", "", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        @if (Session["usuario"] == null) {
            <hr />
            <footer class="text-center">
                <h4>&copy; @DateTime.Now.Year - Universidad Don Bosco</h4> 
                <br />
                <p>Todos los derechos reservados</p>
            </footer>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
