@model SitioWebUDB.Models.Noticia

@{
    ViewBag.Title = "Editar Noticia";
}

<div class="row">
    <div class="col-12">
        @Html.ActionLink("<<<", "Index", "Noticias", null, new { @class = "btn btn-secondary btn-sm" })
        <span class="titulo">ADMINISTRACION - NOTICIAS - MODIFICAR</span>
    </div>
</div>

<hr />

@using (Html.BeginForm("Modificar", "Noticias", FormMethod.Post)) {
    <div class="row">
        <div class="col-2">
            @Html.HiddenFor(noticia => noticia.IdNoticia)
            <div class="mb-3">
                @Html.LabelFor(noticia => noticia.Titulo, "Nombre", (new { @style = "font-weight:bold" }))
                @Html.TextBoxFor(noticia => noticia.Titulo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(noticia => noticia.Titulo, "", (new { @class = "text-danger" }))
            </div>
            <div class="mb-3">
                @Html.LabelFor(noticia => noticia.Descripcion, "Descripcion", (new { @style = "font-weight:bold" }))
                @Html.TextBoxFor(noticia => noticia.Descripcion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(noticia => noticia.Descripcion, "", (new { @class = "text-danger" }))
            </div>
            <div class="mb-3 d-grid">
                <input type="submit" class="btn btn-success" value="Modificar" />
            </div>
        </div>
        <div class="col-10"></div>
    </div>
}

